version: "3.8"
services:
  backend:
    container_name: backend
    build: 
      context: ./back
      dockerfile: Dockerfile.dev
    volumes:
      - ./back:/app
      - /app/node_modules
    ports:
      - "3333:3333"
    environment:
      - NODE_ENV=development
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - API_PORT=${API_PORT}
    command: ["npm", "run", "start:dev"]

  frontend:
    container_name: frontend
    build: 
      context: ./front
      dockerfile: Dockerfile.dev
    volumes:
      - ./front:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - NODE_ENV=development
      - API_URL=${API_URL}
    depends_on:
      - backend
    command: ["npm", "run", "dev"]
